%html
  %head
    %title Mandelbrot Set Render
    %link(rel="stylesheet" type="text/css" href="style.css")
    %script(src="script.js")

  %body(onload="init()")
    %img(src="mandelbrot_render.png")
